@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
html {
    scroll-behavior:smooth;
}
.overlay:hover {
    opacity: 1;

 }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 72%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(241, 109, 1, 0.8);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .pretitulo{
        color: orange;
    }
    .bio {
        font-family: 'Livvic', sans-serif;
        line-height: 35px;
    }
    .card2-img-top{
        height: 72%;
    }
    .videos{
        margin-right: 40px;
    }
    /*tour*/
.timeline{
    margin-top:20px;
    position:relative; 
  }
  .timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
  background: rgb(138,145,150);
  background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
  background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
  background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:5px;
    border-radius:4px;
  }
  .timeline-month{
    color: #fff;
    position:relative;
    padding:4px 15px 4px 35px;
    background-color:#444950;
    display:inline-block;
    width:auto;
    border-radius:40px;
    border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
  }
  .timeline-month span{
    position:absolute;
    top:-1px;
    left:calc(100% - 10px);
    z-index:-1;
    white-space:nowrap;
    display:inline-block;
    background-color:#111;
    padding:4px 10px 4px 20px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    border:1px solid black;
    box-sizing:border-box;
  }
  .timeline-month:before{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
  background: rgb(138,145,150);
  background: -moz-linear-gradient(top, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(112,120,125,1) 100%);
  background: -webkit-linear-gradient(top, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
  background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
    border-radius:100%;
    border:1px solid #17191B;
    left:5px;
  }
  .timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:55px;
  }
  .timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background:linear-gradient(#ff8c00 60%, #ff4500);
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #17191B;
    color:#17191B;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  }
  .timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
  }
  .timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
    border-radius:100%;
  }
  .timeline-section .col-sm-4{
    margin-bottom:15px;
  }
  .timeline-box{
    position:relative;
   background-color:#444950;
    border-radius:15px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
  }
  .box-icon{
    position:absolute;
    right:5px;
    top:0px;
  }
  .box-title{
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
    color: #ff8c00;
  }
  .box-title i{
    margin-right:5px;
  }
  .box-content{
    padding:5px 15px;
    background-color:#17191B;
  }
  .box-content strong{
    color:#666;
    font-style:italic;
    margin-right:5px;
  }
  .box-item{
    margin-bottom:5px;
  }
  .box-footer{
   padding:5px 15px;
   border-top: 1px solid #17191B;
   background-color:#444950;
   text-align:right;
   font-family: 'Livvic', sans-serif;
   color:#ff8c00;
  }
  /*tour*/
  /*footer*/
.cambiarcolor{
  color: #ff8c00;
  font-size: 13px;
  font-family: 'Livvic', sans-serif;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 15px 30px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color: #ff8c00;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
  /*finfooter*/